.loginBtn,
.signupBtn {
    align-content: center;
    text-align: center;
    font-size: clamp(1.5rem, 3vw, 1.8rem);
    font-family: 'mainFont';
    max-width: 600px;
    border-radius: 20px;
    box-shadow: 3px 4px 3px 1px rgba(var(--subtle-dividers-details), 0.7);
    border: 1px solid rgba(var(--subtle-dividers-details), 0.5);
    transition: var(--transition-duration);
}
.loginBtn {
    background-color: var(--main-background-color);
    color: var(--primary-color);
}
.loginBtn:hover {
    background-color: var(--section-background-color);
    transition: var(--transition-duration);
}
.signupBtn {
    background-color: var(--primary-color);
    color: var(--main-background-color);
}
.signupBtn:hover {
    background-color: var(--primary-color-hover);
    transition: var(--transition-duration);
}