.input_wrap {
    border: 1px solid rgba(var(--subtle-dividers-details), 0.7);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 10px;
    width: 100%;
    z-index: 1;
}
.input_wrap p {
    position: absolute;
    font-family: "readRegularFont";
    top: 0px;
    left: 0px;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 0px 0px 10px;
    pointer-events: none;    
}
.input_wrap input {
    background-color: transparent;
    border: none;
    letter-spacing: 1px;
    font-size: 1.6rem;
    padding: 34px 9px 5px 9px;
    border-radius: 10px;
    z-index: 1;
}
.icon {
    position: absolute;
    right: 13px;
    bottom: 0px;
    cursor: pointer;
    z-index: 3;
}
.error_input {
    border: 1px solid var(--basic-error-color);
    color: var(--basic-error-color);
    animation: horizontal-shaking .3s ease-in-out 0s 1 normal forwards;
}
.error_msg {
    color: var(--basic-error-color);
    margin-left: 5px;
}
@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(1px) }
    50% { transform: translateX(-1px) }
    75% { transform: translateX(1px) }
    100% { transform: translateX(0) }
}