.container_header {
    margin-bottom: 20px;
}
.subtitle {
    color: var(--primary-color);
    font-size: 1.8rem;
    letter-spacing: 2px;
}
.main_title {
    font-family: 'secondaryFont';
    font-family: 'mainFont';
    font-size: clamp(2.6rem, 5vw, 3rem);
    letter-spacing: 4px;
    color: var(--darker-font-color);
}