.phone_container {
    flex-basis: 10%;
    position: absolute;
    margin: 0 auto;
    height: 370px;
    min-height: 320px;
    top: max(410px, min(430px,(40dvh)));
    left: 0;
    right: 0;
    width: 250px;
    background-color: #fff;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.phone_img {
    object-fit: cover;
    object-position: 0px 0px;
    border-radius: 35px 35px 0px 0px;
    height: 99%; 
    width: 96%;
}
@media (min-width: 900px) {
    .phone_container {
        align-items: center;
        width: 250px;
        height: 53vh;
        height: 53dvh;
        max-height: 630px;
        min-height: 450px;
        bottom: 0px;
        top: max(250px, min(430px,(35dvh)));
        margin: 0 auto;
        left: unset;
        right: 50px;
        right: 7%;
        border-radius: 35px;
    }
    .phone_img {
        object-position: 50% 100%;
        object-fit: contain;
        border-radius: 35px;
        height: 98%;
    }
}
@media (min-width: 1250px) {
    .phone_container {
        position: relative;
        top: 0px;
        left: 0px;
        height: unset;
        min-height: unset;
        order: 2;
        max-height: unset;
        height: 50%;
        flex-basis: 20%;
        border-radius: 0px;
    }
    .phone_img {
        position: absolute;
        top: 0px;
        left: 0px;
        max-height: 600px;
        height: 63vh;
        height: 63dvh;
        min-height: 470px;
        left: 0px;
        right: 0px;
        margin: 0 auto;
        max-width: 280px;
    }
}