.pricing_table {
    display: flex;
    flex-direction: column; /* Stack tiers vertically on mobile */
    gap: 20px;
    max-width: 1700px;
    margin: 55px auto 0px auto;
}
.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    gap: 20px;
    width: 85%;
    max-width: 800px;
    min-width: 250px;
    font-size: 1.5rem;
}
.header h4 {
    color: var(--primary-color);
    font-size: 2.4rem;
    font-family: 'readRegularFont';
}
.header p {
    font-size: 1.4rem;
}
.toggle_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    width: fit-content;
    margin: 0 auto;
    margin: 15px auto;
}
.prices_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    min-width: 250px;
    max-width: 650px;
    margin: 0 auto;
}
.tier {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

/* Tablet styles (min-width: 900px) */
@media (min-width: 900px) {
    .pricing-table {
        flex-direction: row; /* Arrange tiers horizontally on tablet/larger */
        justify-content: space-around; /* Distribute evenly */
    }
    .prices_container {
        flex-direction: row;
        max-width: unset;
    }
    .tier {
        width: 25%;
    }
}

/* Desktop styles (min-width: 1250px) */
@media (min-width: 1250px) {
  /* Additional styling for larger screens if needed */
}