@font-face {
    font-family: 'mainFont';
    src: url('../../public/fonts/Potta_One/PottaOne-Regular.woff2') format('woff2'),
         url('../../public/fonts/Potta_One/PottaOne-Regular.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'pFont';
    src: url('../../public/fonts/port-lligat-slab/PortLligatSlab-Regular.woff2') format('woff2'),
         url('../../public/fonts/port-lligat-slab/PortLligatSlab-Regular.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SecondaryFont';
    src: url('../../public/fonts/rammetto-one/RammettoOne-Regular.woff2') format('woff2'),
         url('../../public/fonts/rammetto-one/RammettoOne-Regular.woff') format('woff');
    font-display: swap;
}

html {
    /* setting the font settings */
    font-size: 62.5%;

    /* setting the colors */
    --light-font-color: #AFC4DC;
    --mild-font-color: #7C7C7C;
    --darker-font-color: #515253;
    --subtle-dividers-details: #DCDCDC;
    --section-background-color: #F8F8F8;
    --main-background-color: #fff;
    --primary-color: #cb7645;
    --primary-color-hover: #b66333;
    --light-primary-color: #E8C1AA;
    --backdrop-color: rgba(52, 52, 55, 0.5);
    --backdrop-blur: blur(4px);
    --transition-duration: .3s;
    --transition-timing: ease-in-out;

    max-width: 100wv;
    overflow-x: hidden;
    /* TEMP ART TODO */
}

html,
body {
    /* general styles */
    margin: 0px;
    padding: 0px;
    font-family: 'pFont';
}
a {
    text-decoration: none;
    color: var(--darker-font-color);
}
body main {
    height: 3000px;
}