.main_container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--main-background-color);
    width: 100vw;
    width: 100dvw;
    margin: 0 auto;
    max-width: 1800px;
    min-height: 880px;
}
@media (min-width: 1250px) {
    .main_container {
        display: flex;
        flex-flow: row wrap;
        height: 91vh;
        height: 91dvh;
        min-height: 700px;
        max-height: 1300px;
    }
}